<!DOCTYPE html>
<html lang="en" ng-app="modulosYDependenciasApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modulos y dependencias</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body class="container">
    <header>
        Educacion IT
    </header>
    <main ng-controller="empleadosController">
        <label>
            <input type="checkbox" ng-model="mostrarEmpleados">
        </label>

        <div class="collapse navbar-collapse" uib-collapse="mostrarEmpleados">
            <table class="table">
                <tbody>
                    <tr ng-repeat="empleado in empleados">
                        <td>{{empleado.nombre}}</td>
                        <td>{{empleado.apellido}}</td>
                        <td ng-show="empleado.estaCoucheado">Si</td>
                        <td ng-hide="empleado.estaCoucheado">No</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="/modules/empleados.module.js"></script>
    <script src="angular-animate.min.js"></script>
    <script src="angular-touch.min.js"></script>
    <script src="ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script>
        angular.module('modulosYDependenciasApp', ["empleados", 'ngAnimate', 'ngTouch','ui.bootstrap'])
    </script>
</body>

</html>