<eduit-encabezado theme="primary">
    eduit
</eduit-encabezado>
<div ng-controller="empleadosFormController">
    {{empleado|json}}
    <form name="nuevoEmpleado" ng-submit="agregarEmpleado()" novalidate>
        <input name="validar" ng-model="validar" fede-validator>
        {{nuevoEmpleado.validar|json}}
        <eduit-input ng-model="empleado.nombre" type="text" label="Nombre" id="nombre"></eduit-input>
        <eduit-input ng-model="empleado.apellido" type="text" label="Apellido" id="apellido"></eduit-input>
        <div class="checkbox">
            <label>
                <input ng-model="empleado.estaCoucheado" type="checkbox" name="estaCoucheado"> Esta
                coucheado
            </label>
        </div>
        <eduit-input ng-model="empleado.pais" type="select" label="Pais" id="pais" items="paises"></eduit-input>
        <eduit-input ng-model="empleado.provincia" type="select" label="Provincia" id="provincia" items="provincias"
            disabled="!empleado.pais"></eduit-input>
        <eduit-input ng-model="empleado.ciudad" type="select" label="Ciudad" id="ciudad" items="ciudades"
            disabled="!empleado.provincia"></eduit-input>
        <button type="submit" class="btn btn-default">Enviar</button>
    </form>
</div>