<!DOCTYPE html>
<html lang="en" ng-app="laboratorio">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body class="container">
    <header>
        Educacion IT
    </header>
    <main >
        <div class="row">
            <!-- <div class="col-sm-6">
                <label>
                    <input type="checkbox" ng-model="mostrarEmpleados">
                </label>
                <div class="panel panel-default" ng-if="mostrarEmpleados">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat-start="empleado in empleados">
                                    <td>{{empleado.nombre}}</td>
                                    <td>{{empleado.apellido}}</td>
                                </tr>
                                <tr ng-repeat-end>
                                    <td colspan="2" ng-show="empleado.estaCoucheado">Esta coucheado</td>
                                    <td colspan="2" ng-hide="empleado.estaCoucheado">No esta coucheado</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">
                                        {{ cantidades() }}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div> -->
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ng-include src="'templates/empleado/formulario-empleado.html'"/>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="modules/laboratorio.module.js"></script>
    <script src="controllers/empleados.controller.js"></script>
    <script src="service/empleados.service.js"></script>
</body>

</html>